<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
    <div>
        <label for="id">id</label>
        <input type="text" id="id" th:field="*{student.id}" required />
    </div>
    <div>
       <label for="fullName">名前</label>
        <input type="text" id="fullName" th:field="*{student.fullName}" required />
    </div>
    <div>
        <label for="email">メールアドレス</label>
        <input type="email" id="email" th:field="*{student.email}" required />
    </div>
    <div>
        <label for="age">年齢</label>
        <input type="text" id="age" th:field="*{student.age}" required />
    </div>
    <div>
        <label for="gender">性別</label>
        <input type="text" id="gender" th:field="*{student.gender}" required />
    </div>
    <div>
        <label for="remark">備考</label>
        <input type="text" id="remark" th:field="*{student.remark}" required />
    </div>
    <div>
        <label for="course">コース選択</label>
        <select id="course" th:field="*{id}" required>
            <option value="">選択してください</option>
            <option th:each="course : ${courseList}" th:value="${course.id}" th:text="${course.fullName}"></option>

        </select>
        <button type="submit">登録</button>
    </div>
</form>

</body>
</html>
